title: p3l6.dev
email: me@p3l6.dev
description: Paul Landers' hobbies and software
logo: /assets/images/logos/main.svg

url: "https://p3l6.dev"
baseurl: ""

markdown: kramdown
permalink: pretty
timezone: America/New_York

plugins:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-sitemap

collections:
  recipes:
    output: true

feed:
  collections:
    - recipes

defaults:
  - scope:
      type: pages
    values:
      layout: page
  - scope:
      type: posts
    values:
      layout: post
      author: Paul Landers
  - scope:
      type: recipes
    values:
      layout: recipe
      author: Paul Landers

navigation_items:
  - title: Home
    url: "/"
    divide: true
  - title: Blog
    url: "/blog/"
  - title: Recipes
    url: "/cook/"
    divide: true
  - title: Resume
    url: "/resume/"
  - title: Hobbies
    url: "/hobbies/"
  - title: On the Web
    url: "/accounts/"
    divide: true
  - title: Trivia Tracker
    url: "/projects/triviatracker/"
  - title: TicTacCubed
    url: "/projects/tictaccubed/"
    divide: true
  - title: Blueprint
    url: "/blueprint/"
