title: p3l6.dev
email: me@p3l6.dev
description: Paul Landers' hobbies and software
logo: /assets/images/logos/main.svg

url: "https://p3l6.dev"
baseurl: ""

markdown: kramdown
permalink: pretty
timezone: America/New_York
future: true

plugins:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-sitemap

exclude:
  - rakefile
  - Readme.md

collections:
  recipes:
    output: true

feed:
  collections:
    - recipes

defaults:
  - scope:
      type: pages
    values:
      layout: page
  - scope:
      type: posts
    values:
      layout: post
      author: Paul Landers
  - scope:
      type: recipes
    values:
      layout: recipe
      author: Paul Landers

navigation_items:
  - title: Home
    url: "/"
  - title: Now
    url: "/about/now/"
  - title: Hobbies
    url: "/about/hobbies/"
    divide: true
  - title: Blog
    url: "/blog/"
  - title: Recipes
    url: "/cook/"
    divide: true
  - title: Resume
    url: "/resume/"
  - title: Contact
    url: "/about/card/"
    divide: true
  - title: Blueprint
    url: "/pages/blueprint/"
