{{- $page := . }}
{{- range  site.Menus.main }}
  {{- $selected := or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}
  {{- if $selected }}
    <a class="menuitem current" href="{{ .URL }}">
  {{- else}}
    <a class="menuitem" href="{{ .URL }}">
  {{- end }}
  {{- .Name -}}
  </a>
  {{- if $selected }}
    {{- with .Children }}
      <hr />
      {{- range . }}
        {{- $childSelected := or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}
        {{- if $childSelected }}
          <a class="menuitem child current" href="{{ .URL }}">
        {{- else }}
          <a class="menuitem child" href="{{ .URL }}">
        {{- end }}
        {{- .Name -}}
        </a>
      {{- end }}
      <hr />
    {{- end }}
  {{- end }}
{{- end -}}
