{{ $page := . }}
{{- range  site.Menus.main }}
  {{ $selected := or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}
    <!-- // :TODO: this replaces selectedNav property?-->
  {{- if $selected }}
    <a class="current" href="{{ .URL }}">
  {{- else}}
    <a href="{{ .URL }}">
  {{- end }}
  {{ .Name }}
  </a>
  {{- if $selected }}
    {{- with .Children }}
      <hr />
      {{- range . }}
        {{ $childSelected := or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }}
        {{- if $childSelected }}
          <a class="current" href="{{ .URL }}">
        {{- else}}
          <a href="{{ .URL }}">
        {{- end }}
        {{ .Name }}
        </a>
      {{- end }}
      <hr />
    {{- end }}
  {{- end }}
{{- end }}
