<nav id="nav" class="main-nav">
  <h2><a href="/">ers.land</a></h2>
  <hr />
{{- range  site.Menus.main }}
  {{- $selected := or ($.IsMenuCurrent .Menu .) ($.HasMenuCurrent .Menu .) }}
  {{- if $selected }}
    <a class="menuitem current" href="{{ .URL }}">
  {{- else}}
    <a class="menuitem" href="{{ .URL }}">
  {{- end }}
  {{- .Name -}}
  </a>
  {{- if $selected }}
    {{- with .Children }}
      <hr />
      {{- range . }}
        {{- $childSelected := or ($.IsMenuCurrent .Menu .) ($.HasMenuCurrent .Menu .) }}
        {{- if $childSelected }}
          <a class="menuitem child current" href="{{ .URL }}">
        {{- else }}
          <a class="menuitem child" href="{{ .URL }}">
        {{- end }}
        {{- .Name -}}
        </a>
      {{- end }}
      <hr />
    {{- end }}
  {{- end }}
{{- end -}}
  <img class="logo" src={{ .Params.logo | default .Site.Params.logo }} alt="Logo" />
  <div class="buttons">
  <a class="button" href="/feed.xml"><svg><use href="/images/buttons.svg#rss" /></svg></a>
  <a class="button" href="/about/card"><svg><use href="/images/buttons.svg#letter" /></svg></a>
  <a class="button" href="https://github.com/p3l6"><svg><use href="/images/buttons.svg#github" /></svg></a>
  </div>
</nav>
