<nav class="nav">
{% for row in site.data.navlist.topnav.rows %}
  <ul>
  {% for item in row.items %}
    <li class="dropdown {% if item.url == page.url %}active{% endif %}">
    {% if item.subitems[0] %}
      <a class="dropbtn">{{ item.title }}</a>
      <div class="dropdown-content">
      {% for subentry in item.subitems %}
        <a href="{{ subentry.url }}">{{ subentry.title }}</a>
      {% endfor %}
      </div>
    {% else %}
      <a class="dropbtn" href="{{ item.url }}">{{ item.title }}</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endfor %}
</nav>
