<nav class="nav">
{% for row in site.data.navlist.topnav.rows %}
  <ul>
  {% for item in row.items %}
    <li class="dropdown">
    {% if item.subitems[0] %}
      <a class="dropbtn {% if item.url == page.url %}active{% endif %}">
        {{ item.title }}
      </a>
      <div class="dropdown-content">
      {% for subitem in item.subitems %}
        <a href="{{ subitem.url }}" class="{% if subitem.url == page.url %}active{% endif %}">
          {{ subitem.title }}
        </a>
      {% endfor %}
      </div>
    {% else %}
      <a class="dropbtn {% if item.url == page.url %}active{% endif %}" href="{{ item.url }}">
        {{ item.title }}
      </a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endfor %}
</nav>
