
$content-shade-1: #18181b; // darkest
$content-shade-2: #52525b; // fg
$content-shade-3: #a1a1aa;
$content-shade-4: #e4e4e7;
$content-shade-5: #f4f4f5; // bg
$content-shade-6: #fafafa; // lightest

$theme-shade-dark: #0c4a6e; // tool bar color in dark mode
$theme-shade-dull: #0369a1;
$theme-shade-bright: #7dd3fc;
$theme-shade-light: #e0f2fe; // tool bar color in light mode
$accent-color: #0d9488;
$accent-color-bright: #2dd4bf;
$accent-alt: #a80000;
$accent-alt-bright: #ff9999;

:root {
  --outside-bg-color: #{$theme-shade-light};
  --content-bg-color: #{$content-shade-5};
  --content-color: #{$content-shade-2};
  --line-color: #{$theme-shade-bright};
  --heading-color: #{$theme-shade-dull};
  --nav-sel-color: #{$accent-color};
  --nav-hover-color: #{$accent-color-bright};
  --link-color: #{$accent-alt};

  --code-color: #{$accent-color};
  --code-block-bg-color: #{$content-shade-4};
  --kbd-bg-color: #{$content-shade-4};
  --kbd-border-color: #{$content-shade-3};

  --divider-color: #{$content-shade-1};
}

@media screen and (prefers-color-scheme: dark) {
   :root {
    --outside-bg-color: #{$theme-shade-dark};
    --content-bg-color: #{$content-shade-2};
    --content-color: #{$content-shade-5};
    --line-color: #{$theme-shade-dull};
    --heading-color: #{$theme-shade-bright};
    --nav-sel-color: #{$accent-color-bright};
    --nav-hover-color: #{$accent-color};
    --link-color: #{$accent-alt-bright};

    --code-color: #{$accent-color-bright};
    --code-block-bg-color: #{$content-shade-1};
    --kbd-bg-color: #{$content-shade-1};

    --divider-color: #{$content-shade-6};
  }
}

@media print {
  :root {
    --outside-bg-color: #FFFFFF;
    --content-bg-color: #FFFFFF;
  }
}
