
:root {
  --theme-color: #e0f2fe; /* sky-100 */;
  --content-bg-color: #f4f4f5; /* zinc-100 */
  --content-color: #18181b; /* zinc-900 */
  --line-color: #7dd3fc; /* sky-300 */
  --heading-color:  #0369a1; /* sky-700 */
  --nav-sel-color: #0d9488; /* teal-600 */
  --nav-hover-color: #2dd4bf; /* teal-400 */
  --link-color: hsl(0, 100%, 33%);
  --kbd-bg-color: hsl(210, 5%, 100%);
  --kbd-border-color: hsl(210, 5%, 70%);
  --table-border-color: black;
  --footnotes-border-color: hsl(0, 0%, 39%);
}

@media screen and (prefers-color-scheme: dark) {
   :root {
    --theme-color: #0c4a6e; /* sky-900 */;
    --content-bg-color: #18181b; /* zinc-900 */
    --content-color: #f4f4f5; /* zinc-100 */
    --line-color: #7dd3fc; /* sky-300 */
    --heading-color:  #7dd3fc; /* sky-300 */

    --link-color: hsl(196 80% 77%);
    --kbd-bg-color: hsl(0, 0%, 16%);
    --kbd-border-color: hsl(210, 5%, 70%);
    --table-border-color: white;
    --footnotes-border-color: hsl(0, 0%, 59%);
  }
}

@media print {
  :root {
    --theme-color: #FFFFFF;
    --content-bg-color: #FFFFFF;
  }
}
