/* A pygments theme, using the site's Mist colors */

code {
  color: var(--mist-cyan);
}

pre code {
  color: var(--inv-mist-text);
}

pre.highlight {
  color: var(--inv-mist-text);
  background-color: var(--inv-mist-bg);

  /* Plain text */
  .o, .ow, .vi, .vm { color: var(--inv-mist-text); }

  /* Comments */
  .c, .ch, .cm, .c1, .cs { color: var(--inv-mist-comment); }

  /* Strings */
  .s, .sa, .sb, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss { color: var(--inv-mist-red); }

  /* Literals */
  .l, .ld, .m, .mb, .mf, .mh, .mi, .mo, .sc, .il { color: var(--inv-mist-blue); }

  /* Keywords */
  .k, .kc, .kd, .kn, .kp, .kr, .nt { color: var(--inv-mist-magenta); font-weight: bold; }

  /* Preprocessor */
  .cp, .cpf { color: var(--inv-mist-orange); }

  /* Attributes */
  .na, .nd { color: var(--inv-mist-yellow); }

  /* Classes, Types */
  .nc, .vc { color: var(--inv-mist-green); }

  /* Declarations, Variables */
  .n, .ni, .no, .nv, .vi { color:  var(--inv-mist-cyan); }

  /* Methods, Functions */
  .ne, .nf, .nl, .nn, .nx, .py { color: var(--inv-mist-cyan); }

  /* Lang Types, Functions */
  .nb, .vg, .bp, .fm, .kt { color: var(--inv-mist-purple); }

  /* Parse errors */
  .err{ color: var(--inv-mist-red-br); }
}
