
nav {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top:6px;
    height:40px;
    border-radius:5px;
    border:1px solid #e0e0e0;
    background: #f4f4f4;
    
    width:270px;
    li:first-child:nth-last-child(2), li:first-child:nth-last-child(2) ~ li {
      // applies to items that are both the first child, as well as one of the 
      // 2nd to last children. Additionally, with ~ (subsequent sibling combinator),
      // applies to all following siblings of that item.
      width: 134px;
    }
    li:first-child:nth-last-child(3), li:first-child:nth-last-child(3) ~ li {
      width:89px;
    }

    li {
      float: left;
      position: relative;
      width:269px;
      border-right:1px solid #e0e0e0;
      height:40px;
      a {
        display: block;
        cursor: default;
        text-align: center;
        text-decoration: none;
        line-height:1;
        font-size:12px;
        color:#676767;
        padding-top:14px;
        height:26px;
        &.active {
          background:#c6eafa;
        }
        &:hover {
          padding-top: 12px;
          height:24px;
          background: #c6eafa;
          border: 2px solid #409fc7;
        }
      }
      
      &:first-child a {
        border-radius:5px 0 0 5px;
      }
      
      &:last-child 
      { 
        border-right: none;
        a {
          border-radius:0 5px 5px 0;
        }
      }
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// hide hamburger menu by default
header {
  input#nav-toggle {
    display: none;
  }
  label {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  // show hamburger menu, and nav when toggled
  header {
    h1 {
      display: inline;
    }
    
    input#nav-toggle {
      display: none;
      &:checked {
        & ~ .nav {
          max-height: 100%;
        }
        & ~ .logo {
          max-height: 0;
          overflow: hidden;
        }
      }
    }
    
    label {
      font-size: 40px;
      display: inline;
      float: inline-end;
      line-height: 0;
      padding-top: 15px;
    }
    
    nav {
      max-height: 0;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 480px) {
  nav ul {
    width:99%;
    li:first-child:nth-last-child(2), li:first-child:nth-last-child(2) ~ li {
      width: 49%;
    }
    li:first-child:nth-last-child(3), li:first-child:nth-last-child(3) ~ li {
      width: 33%;
    }
  }
}

@media print {
  header {
    display: none ;
  }
  footer {
    display: none;
  }
}

// Fix margin for nested bullets
ul {
  ul {
    margin:0 0 0;
  }
}

ol {
  ol {
    margin:0 0 0;
  }
}
