
nav {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top:6px;
    height:40px;
    border-radius:5px;
    border:1px solid #e0e0e0;
    
    background: #f4f4f4;
    li.active a {
      background:#c6eafa;
    }
    
    width:270px;
    li:first-child:nth-last-child(2), li:first-child:nth-last-child(2) ~ li {
      width: 134px;
    }
    li:first-child:nth-last-child(3), li:first-child:nth-last-child(3) ~ li {
      width:89px;
    }

    li {
      float: left;
      position: relative;
      width:269px;
      border-right:1px solid #e0e0e0;
      height:40px;
      a {
        display: block;
        cursor: default;
        text-align: center;
        text-decoration: none;
        line-height:1;
        font-size:12px;
        color:#676767;
        padding-top:14px;
        height:26px;
        &:hover {
          padding-top: 12px;
          height:24px;
          background: #c6eafa;
          border: 2px solid #409fc7;
        }
      }
      
      &:first-child a {
        border-radius:5px 0 0 5px;
      }
      
      &:last-child a {
        border-radius:0 5px 5px 0;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        background-color: #f4f4f4;
        border-radius:5px;
        border: 1px solid #e0e0e0;
        a {
          margin: 6px;
        }
      }
      &:hover .dropdown-content {
        display: block;
      }
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media print, screen and (max-width: 960px) {
  nav {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  nav {
    position:static;
    padding-bottom: 15px;
  }
}

@media print, screen and (max-width: 480px) {
  nav ul {
    width:99%;
    li:first-child:nth-last-child(2), li:first-child:nth-last-child(2) ~ li {
      width: 49%;
    }
    li:first-child:nth-last-child(3), li:first-child:nth-last-child(3) ~ li {
      width: 33%;
    }
  }
}

// Fix margin for nested bullets
ul {
  ul {
    margin:0 0 0;
  }
}
