
nav {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li {
      float: left;
      position: relative;
      margin: 6px;
      a {
        display: block;
        padding: 8px 10px;
        text-align: center;
        text-decoration: none;
        cursor: default;
        &:hover {
          padding: 6px 8px;
          background-color: #c6eafa;
          border: 2px solid #409fc7;
          border-radius: 4px;
        }
      }
      .dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        background-color: #d9d9d9;
        border-top: 1px solid #fff;
        a {
          margin: 6px;
        }
      }
      &:hover .dropdown-content {
        display: block;
      }
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
