{{ define "main" }}

<section >
  <blockquote class="alert alert-abstract">
    <p class="alert-title"> Abstract </p>
    <p>{{ .Summary }}</p>
  </blockquote>
</section>

<section>
  {{ .Content }}
</section>

<hr />

<footer>
  <h3>Post details:</h3>
  <ul>
    <li>Published: {{ .Date | time.Format "2 Jan 2006"}}</li>
    <li>Author: Paul Landers</li>
    {{- with .Params.changes }}
      <li>Changes:<ul>
      {{ range . }}
        <li>{{ markdownify . }}</li>
      {{- end }}
      </ul></li>
    {{- end }}
  </ul>
</footer>

{{ end }}
