@import './fonts.css';
@import './colors.css';

/*
// :TODO: Add this back in when css supports mixins
@mixin non-printing { @media print { display: none; }}
.non-printing { @include non-printing; }
*/

body {
  background-color: var(--outside-bg-color);
  color: var(--mist-text);
  font-family: var(--main-font);
}

main {
  background-color: var(--mist-bg);
  border: solid var(--mist-blue-br);

  padding: 0.75rem;
  margin: 1rem;
  margin-top: 0;
  border-radius: 0.375rem;
  border-width: 1px;

  @media (min-width: 768px) {
    display: grid;
    place-items: center;
    margin-right: 16rem;
    font-size: 1.125rem;
  }

  @media print {
    font-size: 1rem;
    margin: 2.5rem !important;
    border-width: 0px;
  }
}

header {
  color: var(--heading-color);
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
  width: 100%;

  @media print {
    margin: 0rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;

    @media print {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }

  &.site-top-bar {
    margin-bottom: 0rem;
    display: flex;
    justify-content: space-between;
    h2.mobile-title-url {
      font-family: var(--mono-font);
      font-size: 1.25rem;
      margin-top: .25rem;
      margin-bottom: 0rem;
      margin-right: 1rem;
      line-height: 1.25rem;
      text-align: right;
      flex-shrink: 0;

      @media print { display: none; }

      a {
        color: var(--heading-color);
        text-decoration: none;

        &:visited { color: var(--heading-color) }
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

article {
  color: var(--mist-text);
  width: 100%;
  max-width: 80ch;

  @media print {
    max-width: none;
  }

  footer h3 {
    font-style: italic;
  }
}

/*
 * nav is pinned to the right side, with title at the top.
 * on small widths, nav moves to the page bottom, and title moves to the top of the content.
 */

nav.main-nav {
  color: var(--mist-text);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
  place-items: center;
  font-size: 1.25rem;
  line-height: 1.75rem;

  @media print { display: none; }

  @media (min-width: 768px) {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 16rem;
    height: 100vh;
  }

  h2 {
    font-family: var(--mono-font);
    font-size: 1.875rem;
    font-weight: inherit;
    line-height: 2.25rem;
    margin-block: 0;

    a {
      color: var(--heading-color);
      text-decoration: none;
    }
  }

  a.menuitem {
    color: var(--mist-text);
    text-decoration: none;
    font-weight: 400;
    font-variant-caps: small-caps;

    &:visited { color: var(--mist-text) }
    &:hover { color: var(--mist-cyan-br) }
    &.current { color: var(--mist-cyan) }
    &.child { font-size: 1rem; line-height: 1rem; gap: 0.5rem;}
  }

  hr {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    border-width: 0;
    width: 5rem;
    height: 0.25rem;
    background-color: var(--mist-blue-500);
  }

  img {
    width: 10rem;
  }
}

nav.breadcrumb-nav {
  ol {
    padding-left: 1rem;
    margin-block: 0%;
  }

  li {
    display: inline;
  }

  li:not(:last-child)::after {
    content: "»";
  }
}

mark {
  color: var(--mist-text);
  background-color: var(--mist-cyan-br);
  padding-inline: .25rem;
  border-radius: .25rem;
}

blockquote.alert {
  --alert-accent-color: var(--mist-cyan);
  --alert-symbol: "❖";

  margin: 1rem 1.5rem;
  padding-left: 1rem;
  border-left: var(--border-width-thick) solid var(--alert-accent-color);

  .alert-title {
    font-variant-caps: small-caps;
    color: var(--alert-accent-color);
    &::before {
      content: var(--alert-symbol);
    }
  }

  &.alert-note { --alert-symbol: "❖"; --alert-accent-color: var(--mist-cyan); }
  &.alert-tip { --alert-symbol: "✓"; --alert-accent-color: var(--mist-cyan); }
  &.alert-important { --alert-symbol: "‼︎"; --alert-accent-color: var(--mist-blue); }
  &.alert-warning { --alert-symbol: "✗"; --alert-accent-color: var(--mist-red); }
  &.alert-abstract { --alert-symbol: "¶"; --alert-accent-color: var(--heading-color); }
  &.alert-source { --alert-symbol: "✎"; --alert-accent-color: var(--mist-text); }
}
