
/*
// :TODO: Add this back in when css supports mixins
@mixin non-printing { @media print { display: none; }}
.non-printing { @include non-printing; }
*/

body {
  background-color: var(--outside-bg-color);
  color: var(--mist-text);
  font-family: var(--main-font);
}

main {
  background-color: var(--mist-bg);
  border: solid var(--mist-blue-br);

  padding: 0.75rem;
  margin: 1rem;
  margin-top: 0;
  border-radius: 0.375rem;
  border-width: 1px;

  @media (min-width: 768px) {
    display: grid;
    place-items: center;
    margin-right: 16rem;
    font-size: 1.125rem;
  }

  @media print {
    font-size: 1rem;
    margin: 2.5rem !important;
    border-width: 0px;
  }
}

header {
  color: var(--heading-color);
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
  width: 100%;

  @media print {
    margin: 0rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;

    @media print {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }

  &.site-top-bar {
    margin-bottom: 0rem;
    display: flex;
    justify-content: space-between;
    h2.mobile-title-url {
      font-family: var(--mono-font);
      font-size: 1.25rem;
      margin-top: .25rem;
      margin-bottom: 0rem;
      margin-right: 1rem;
      line-height: 1.25rem;
      text-align: right;
      flex-shrink: 0;

      @media print { display: none; }

      a {
        color: var(--heading-color);
        text-decoration: none;

        &:visited { color: var(--heading-color) }
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

article {
  color: var(--mist-text);
  width: 100%;
  max-width: 80ch;

  @media print {
    max-width: none;
  }

  footer h3 {
    font-style: italic;
  }
}
