<a href="{{ .Get "target"}}"
  class="not-prose"
  style="display: inline-block;
    overflow: hidden;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    width: 150px;
    height: 83px;">
    <img src="{{ .Get "image"}}"
      alt="Download on the App Store"
      style="border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
        border-bottom-left-radius: 13px;
        width: 250px;
        height: 83px;">
    </a>
