<!doctype html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#CEE9FE" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#214C6A" />
  {{- partialCached "feed.html" . }}
  {{- partialCached "css.html" . }}
  <link rel="icon" href="/site/icon/boat-round.svg" type="image/svg+xml">
  <link rel="icon" href="/site/icon/favicon.ico" sizes="32x32">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest">
  {{- if .Param "math" }}
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {{- end }}
</head>

<body>
  <header class="site-top-bar">
    {{ partial "breadcrumb.html" . }}
    <h2 class="mobile-title-url">ers.land|<a href="#nav">☰</a></h2>
  </header>
  <main>
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    <article>
     	{{- block "main" . }}
     	{{- end -}}
    </article>
  </main>
  <nav id="nav" class="main-nav">
    <h2><a href="/">ers.land</a></h2>
    <hr />
    {{- partial "nav.html" . }}
    <img src={{ .Params.logo | default .Site.Params.logo }} alt="Logo" />
  </nav>
</body>

</html>
