{{ define "main" }}
<section>
  {{- with .Description }}
  {{- partial "abstract.html" . }}
  {{- end }}
	{{ .Content }}
	{{- if .Params.groupBySubsection }}
	  {{- $sections := .Sections }}
	  {{- if .Params.reverseSubsections }}
			{{- $sections = $sections.Reverse }}
		{{- end }}
  	{{- range $sections }}
  		<h2>{{.Title}}</h2>
  		{{- partial "inline/section/pagelist.html" .RegularPages }}
    {{- end }}
  {{- else if .Params.skipListing }}
  <!-- Nothing to do -->
  {{- else }}
    {{- partial "inline/section/pagelist.html" .Pages }}
  {{- end }}
</section>

{{ end }}

{{- define "_partials/inline/section/pagelist.html" }}
<ul>
  {{- range . }}
  <li>
     <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>

     {{- with .Description }}
     <blockquote>{{ . }}</blockquote>
     {{- end }}
  </li>
  {{- end }}
</ul>
{{- end }}
