<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
{% feed_meta %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons//favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons//site.webmanifest">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ layout.titleOverride | default: page.title }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
      </header>
      {% include navigation.html %}
      <section>
      {{ content }}
      </section>
    </div>
    <footer>
      <p>Thanks for visiting!</p>
    </footer>
    
    <script>fixScale(document);</script>
  </body>
</html>
