---
layout: base
---

<section >
  <p class="abstract">
    {{ page.summary }}
  </p>
</section>

<section>
  {{ content }}
</section>

<hr />

<footer>
  <h3>Post details:</h3>
  <ul>
    <li>Published: {{ page.date | date_to_string }}</li>
    <li>Author: {{ page.author }}</li>
    {% unless page.tags == empty %}
      <li>Tags: {{ page.tags }}</li>
    {% endunless %}
    {% unless page.changes == empty %}
      <li>Changes:<ul>
      {% for change in page.changes %}
        <li>{{ change }}</li>
      {% endfor %}
      </ul></li>
    {% endunless %}
  </ul>
</footer>
